/* @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"); */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: black;
}

input, button, textarea{
  outline: none;
}



.bg-herosection {
  background: url("../assets/images/bg-herosection-veepearl.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
}

.bg-cta{
  background: url("../assets/images/bg-ctasection.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
}

.bg-footer{
  background: url("../assets/images/bg-footer-veepearl.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
}
