/* @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"); */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: black;
}

input, button, textarea{
  outline: none;
}

.bg-brand-dna{
  background: url("../assets/images/bg-brand-dna-page.jpg");
  background-size: cover;
  background-attachment:fixed ;
  background-position: center center;
}

.bg-key-considerate{
  background: url("../assets/images/bg-key-considerations-page.jpg");
  background-size: cover;
  background-attachment:fixed ;
  background-position: center center;
}

.bg-market-customers{
  background: url("../assets/images/bg-market-customers-page.jpg");
  background-size: cover;
  background-attachment:fixed ;
  background-position: center center;
}

.bg-contact-us{
  background: url("../assets/images/bg-contact-us-page.jpg");
  background-size: cover;
  background-attachment:fixed ;
  background-position: center center;
}

.bg-founder{
  background: url("../assets/images/bg-founder-page.jpg");
  background-size: cover;
  background-attachment:fixed ;
  background-position: center center;
}

.bg-anniversaries{
  background: url("../assets/images/bg-anniversaries.jpg");
  background-size: cover;
  background-attachment:fixed ;
  background-position: center center;
}

.bg-birthday{
  background: url("../assets/images/bg-birthday.jpg");
  background-size: cover;
  background-attachment:fixed ;
  background-position: center center;
}

.bg-holiday{
  background: url("../assets/images/bg-holiday.jpg");
  background-size: cover;
  background-attachment:fixed ;
  background-position: center center;
}

.bg-wedding{
  background: url("../assets/images/bg-wedding.jpg");
  background-size: cover;
  background-attachment:fixed ;
  background-position: center center;
}

.bg-aboutpearl{
  background: url("../assets/images/bg-about-pearl.jpg");
  background-size: cover;
  background-attachment:fixed ;
  background-position: center center;
}

.bg-pearltypes{
  background: url("../assets/images/bg-pearl-types.jpg");
  background-size: cover;
  background-attachment:fixed ;
  background-position: center center;
}

.bg-pearlcolor{
  background: url("../assets/images/bg-pearl-color.jpg");
  background-size: cover;
  background-attachment:fixed ;
  background-position: center center;
}

.bg-necklacelength{
  background: url("../assets/images/bg-necklace-length.jpg");
  background-size: cover;
  background-attachment:fixed ;
  background-position: center center;
}


.bg-herosection {
  background: url("../assets/images/bg-herosection-veepearl.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
}

.bg-cta{
  background: url("../assets/images/bg-ctasection.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
}

.bg-footer{
  background: url("../assets/images/bg-footer-veepearl.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
}
